<style>
.popover {
    max-width: none;
}
</style>
<div class='row'>
 <% if (viewing) { %>
  <div class='col-lg-3
              col-md-3
              col-sm-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'><%= title %></h4>
      </div>
      <div class='panel-body'
	   style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	<table class='table-condensed nospaceafter'
	       style='font-size:12px;'>
	  <tr>
	    <td>Name:</td>
	    <td><%- formfields.profile_name %></td>
	  </tr>
	  <% if (!fromrepo) { %>
	    <tr>
	      <td>Version:</td><td>
		<% if (history) { %>
		  <a href='profile-history.php?uuid=<%= profile_uuid %>'>
	  	    <%- formfields.profile_version %></a>
		<% } else { %>
		  <%- formfields.profile_version %>
		<% } %>
		<% if (version_uuid != latest_uuid) { %>
		  (Latest:
		  <a href='manage_profile.php?action=edit&uuid=<%= latest_uuid %>'>
		    <%- latest_version %></a>)
		<% } %>
	      </td>
	    </tr>
	  <% } %>
	  <tr>
	    <td>Project:</td>
	    <td><a href='show-project.php?pid=<%= formfields.profile_pid %>'>
	      <%- formfields.profile_pid %></a></td>
	  </tr>
	  <tr>
	    <td>Creator:</td>
	    <td><a href='user-dashboard.php?user=<%= formfields.profile_creator %>'>
	      <%- formfields.profile_creator %></a></td>
	  </tr>
	  <% if (formfields.profile_version != 0) { %>
	    <tr>
	      <td>Updated by:</td>
	      <td><a href='user-dashboard.php?user=<%= formfields.profile_updater %>'>
		<%- formfields.profile_updater %></a></td>
	    </tr>
	  <% } %>
	  <tr>
	    <% if (formfields.profile_version == 0) { %>
	      <td>Created:</td>
	    <% } else { %>
	      <td>Updated:</td>
	    <% } %>
	    <td class='format-date' style='word-wrap:break-word;'>
	      <%- formfields.profile_created %></td>
	  </tr>
	  <% if (withpublishing) { %>
	  <tr>
	    <td>Published:</td>
	    <% if (formfields.profile_published != "") { %>
	    <td id='profile_published' class='format-date'>
	      <%- formfields.profile_published %></td>
	    <% } else { %>
	    <td class='text-danger'>Not Published!</td>
	    <% } %>
	  </tr>
	  <% } %>
	  <% if (disabled) { %>
	    <tr>
	      <td>Disabled:</td><td><span class="text-danger">Yes</span>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="This profile has been disabled by an
				 administrator. You may be able to instantiate
				 another version of this profile, see the
				 version info above.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </td>
	    </tr>
	  <% } %>
	</table>
	<% if (activity) { %>
	<a class='btn btn-info btn-xs pull-left'
           id='profile_activity_button'
	   data-toggle='popover'
	   data-delay='{"hide":1500, "show":250}'
	   data-html='true'
	   data-content="View a history of when your profile was
	   instantiated."
           style='margin-right: 10px; font-size: 12px'
           href='profile-activity.php?uuid=<%= profile_uuid %>'
           type='button'>Activity
	</a>
	<% } %>
      </div>
    </div>
    <% if (fromrepo) { %>
      <div class='panel panel-default hidden' id="repoinfo-panel">
	<div class='panel-heading'>
          <h4 class='panel-title text-center'>Repository Info</h4>
	</div>
	<div class='panel-body'
	     style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	  <table class='table-condensed nospaceafter'
		 style='font-size:12px;'>
	    <tr>
	      <td>Refspec:</td>
	      <td class="commit-refspec"></td>
	    </tr>
	    <tr>
	      <td>Commit:</td>
	      <td class="commit-hash"></td>
	    </tr>
	    <tr>
	      <td>Date:</td>
	      <td class="commit-date"></td>
	    </tr>
	    <tr>
	      <td>Author:</td>
	      <td class="commit-author"></td>
	    </tr>
	    <tr>
	      <td>Est. Size:</td>
	      <td class="commit-size"></td>
	    </tr>
	    <tr>
	      <td>Log:</td>
	      <td class="commit-log">
		<span class="commit-log-start"></span>
		<button type="button" class="hidden log btn btn-xs"
		   data-toggle='popover'
		   data-html="true"
		   data-delay='{"hide":1000, "show":250}'>...</button>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    <% } %>
  </div>
  <div class='col-lg-9
              col-md-9
              col-sm-9
              col-xs-12'>
    <div class='panel panel-default'>
 <% } else { %>
  <div class='col-sm-10 col-sm-offset-1
              col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= title %></h3>
      </div>
 <% } %>
      <div class='panel-body'>
	<span id="general_error" style="color:red;"></span>
	<form id='quickvm_create_profile_form'
              class='form-horizontal' role='form'
	      data-format="wide"
              enctype='multipart/form-data'
              method='post' action='manage_profile.php'>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <% if (general_error) { %>
	        <center>
		  <p class='lead text-danger'><%- general_error %></p>
		</center>
	      <% } %>
              <div id="notifyupdate"
		   class="alert alert-success apt-success" style="display: none"
		   role="alert"><center>Update Successful!</center></div>
	      <!-- Hidden variables -->
	      <input type='hidden' name='action' value='<%= action %>'>
	      <% if (copyuuid) { %>
	        <input type='hidden' name='copyuuid' value='<%= copyuuid %>'>
	      <% } %>
	      <% if (snapuuid) { %>
	        <input type='hidden' name='snapuuid' value='<%= snapuuid %>'>
	      <% } %>
	    </div>
	  </div>
	  <input type='hidden' id="repourl"
		 name='formfields[profile_repourl]'
		 value='<%- formfields.profile_repourl %>'>
	  <% if (viewing) { %>
	    <input type='hidden' name='uuid' value='<%= version_uuid %>'>
	    <input type='hidden' name='formfields[profile_name]'
		   value='<%- formfields.profile_name %>'>
	    <input type='hidden' id="profile_pid" name='formfields[profile_pid]'
		   value='<%- formfields.profile_pid %>'>
	  <% } %>
	  <% if (!viewing) { %>
	  <fieldset>
	    <!-- First row has both name and project,
		 which makes the layout odd. -->
	    <div class='row'>
	      <label for='profile_name'
		     class='col-sm-3 control-label'>Name
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-content='alphanumeric, dash, underscore, no whitespace'>
		  <span style='margin-bottom: 4px;'
			class='glyphicon glyphicon-question-sign'></span>
		</a>
	      </label>
	      <div class='col-sm-3'>
		<!-- In editing mode, pass through static values. -->
	        <div class="form-group">
	          <input name="formfields[profile_name]"
		       id='profile_name'
		       <% if (viewing) { %>readonly<% } %>
		       value="<%- formfields.profile_name %>"
		       class="form-control format-me"
		       data-key="profile_name">
		</div>
		<!-- End of first half of row -->
	      </div>
	      <!-- Second half of the row. Project Selection -->
	      <label for='profile_pid'
		     class='col-sm-2 control-label'>Project</label>
	      <div class='col-sm-3'>
	        <div class="form-group">
		  <% if (projects.length == 1) { %>
	            <input name="formfields[profile_pid]" readonly
		       value="<%- formfields.profile_pid %>"
		       class="form-control format-me"
		       id='profile_pid'
		       data-key="profile_pid">
		  <% } else { %>
		    <select name="formfields[profile_pid]"
			   id='profile_pid' 
			   class='form-control format-me'
			   data-key="profile_pid"			
			   placeholder='Please Select'>
		     <% _.each(projects, function(name) { %>
	                <option 
			  <% if (_.has(formfields, 'profile_pid') &&
			         formfields.profile_pid == name) { %>
			     selected
			  <% } %>
			  value='<%= name %>'><%= name %>
			</option>
		     <% }); %>
		    </select>
	          <% } %>
		</div>
		<!--  End of first row. -->
	      </div>
            </div>
	  </fieldset>
	  <% } %>
	  <fieldset>
	    <% if (! genilib_editor) { %>
	    <div class="form-group">
	      <div class='format-me'
		   data-key='profile_rspec' data-label='Your rspec'
		   data-help='You can supply either an
			      <a href="<%- manual %>/advanced-topics.html">
			      rspec or a geni-lib script</a> for your
			      profile source code.'>
		<div class='row'>
                  <div class='col-xs-12'>
		    <% if (!fromrepo) { %>
		      <span id="sourcefile-button-div"
			    style='margin-right: 10px;'>
			<input class='filestyle' type='file'
			       name='sourcefile' id='sourcefile' 
			       data-classButton='btn btn-primary btn-xs'
			       data-input='false'
			       data-buttonText='Choose file'>
		      </span>
		    <% } %>
		    <button class='btn btn-primary btn-xs'
			  type='button'
			  style='margin-right: 10px;'
			  id='edit_topo_modal_button'>
                      Topology</button>
		    <button class='btn btn-primary btn-xs'
			  type='button'
			  style='margin-right: 10px;'
			  id='show_source_modal_button'>
		      <% if (viewing && canmodify && !fromrepo) { %>Edit <% } %>
		      Source
		    </button>
		    <button class='btn btn-primary btn-xs pull-right hidden'
			    type='button'
			    id='edit_copy_button'>
		      Edit a Copy
		    </button>
		    <button class='btn btn-primary btn-xs hidden'
			  type='button'
			  style='margin-right: 10px;'
			  id='show_xml_modal_button'>
                      XML</button>
		    <% if (!viewing) { %>
		      or 
		      <button class='btn btn-primary btn-xs'
     			      data-toggle='modal'
			      data-target='#git-repo-modal'
			      type='button'
			      style='margin-left: 10px;'
			      id='git-repo-button'>
			Git Repo</button>
		    <% } %>
		  </div>
		</div>
	      </div>
	    </div>
	    <% } %>
	    <% if (viewing && fromrepo) { %>
	      <div class="form-group">
		<div class="format-me"
		     data-key='profile_repourl'
		     data-label='Repository'>
		  <span>
		    <input type="text"
			   class="form-control" readonly
			   style="width: 75%; display: inline;"
			   value='<%- formfields.profile_repourl %>'>
		    <button class='btn btn-primary btn-xs'
			    id="git-repo-update-button"
			    type='button'
			    style='margin-left: 10px;'>
		      Update</button>
		    <a href='#' class='btn btn-xs'
		       data-toggle='popover'
		       data-html='true'
		       data-delay='{"hide":500}'
		       data-content='Fetch from your repository, updating
				     your profile to reflect the current HEAD
				     of your master branch. Branches and tags
				     are updated as well (see below).'>
		      <span class='glyphicon glyphicon-question-sign'
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </span>
		</div>
	      </div>
	    <% } %>
 	    <textarea name="formfields[profile_rspec]"
		      id='profile_rspec_textarea'
                      class='form-control hidden'
                      type='textarea'
		      data-key='profile_rspec'
		      rows=5><%- formfields.profile_rspec %></textarea>
 	    <textarea name="formfields[profile_script]"
		      id='profile_script_textarea'
                      class='form-control hidden'
                      type='textarea'
		      data-key='profile_script'
		      rows=5><%- formfields.profile_script %></textarea>
	  </fieldset>
	  <fieldset>
	    <div class="form-group">
	      <div class="format-me"
		   data-key='profile_description'
		   data-label='Description'
		   data-help='Briefly describe what this profile
			      does. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target=_blank>Markdown format</a>, double click
			      to see a rendering.'>
		<textarea name=formfields[profile_description]
			  id='profile_description'
			  rows=3
			  class='form-control'
			  type='textarea'></textarea>
		<div class="geni-lib-warning hidden"><small class="pull-right">
		  Description set by geni-lib script
		  <a href='#' class='btn btn-xs'
		     data-toggle='modal'
		     data-target="#docstring-help-modal">
		    <span style='margin-bottom: 4px; margin-left: 0px;'
			  class='glyphicon glyphicon-question-sign'></span></a>
		</small></div>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class='format-me'
		   data-key='profile_instructions'
		   data-label='Instructions'
		   data-help='Briefly describe how to use this
		              profile after it starts.
		              Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target=_blank>Markdown format</a>, double click
 		              to see a rendering.'>
	      <textarea name=formfields[profile_instructions]
			id='profile_instructions'
			class='form-control'
			rows=3
			type='textarea'></textarea>
	      <div class="geni-lib-warning hidden"><small class="pull-right">
		Instructions set by geni-lib script
		<a href='#' class='btn btn-xs'
		   data-toggle='modal'
		   data-target="#docstring-help-modal">
		  <span style='margin-bottom: 4px; margin-left: 0px;'
			class='glyphicon glyphicon-question-sign'></span></a>
	      </small></div>
	      </div>
	    </div>

	    <!-- Tour Table; hidden until the table is initialized
	         from the rspec. -->
	    <div class='row hidden' id='profile_steps_div'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class="panel" style='margin-bottom: 10px; border: 0px;'>
		  <div class="panel-heading"
		       style='border: 0px; padding: 5px; margin: 0px;'>
		      <a data-toggle="collapse"
			 id='profile_steps_link'
			 href="#profile_steps_collapse">
			Show/Edit Tour
		      </a>
		  </div>
		  <div id="profile_steps_collapse"
		       class="panel-collapse collapse">
		    <div class="panel-body" style='padding: 0px; border: 0px;'>
		      <table id='profile_steps' class='col-sm-12'></table>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>

	    <!-- Public listing checkbox -->
	    <% if (isadmin) { %>
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class='checkbox format-me' data-compact='yep'>
                  <label>
		    <input name=formfields[profile_listed]
			   <%- formfields.profile_listed %>
			   data-key='profile_listed'
			   id='profile_listed' value='checked'
			   type='checkbox'>List on the home page for
		    anyone to view.
		  </label>
		</div>
	      </div>
	    </div>
	    <% } %>

	    <!-- Permission checkboxes. -->
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		Who can instantiate your profile?
	      </div>
	    </div>

	    <div class='row'>
	      <div class='col-sm-8 col-sm-offset-4'>
		<div class='format-me' data-key='profile_who'>
		  <% if (1) { %>
		  <div class='radio'>
                    <label>
                      <input type='radio' name='formfields[profile_who]'
			     id='profile_who_public'
		             <% if (formfields.profile_who == "public") {
				%>checked<% } %>
			     value='public'>
		      <% if (isapt) { %>
                      <em>Anyone</em> on the internet
		      <% } else { %>
                      <em>Anyone</em>
		      <% } %>
    	            </label>
                  </div>
		  <% } %>
		  <% if (0) { %>
                  <div class='radio'>
                    <label>
                      <input type='radio' name='formfields[profile_who]'
			     id='profile_who_registered'
		             <% if (formfields.profile_who == "shared") {
				%>checked<% } %>
			     value='shared'>
                      Only registered users of the website
    	            </label>
                  </div>
		  <% } %>
                  <div class='radio'>
                    <label>
                      <input type='radio' name='formfields[profile_who]'
			     id='profile_who_private'
		             <% if (formfields.profile_who == "private") {
				%>checked<% } %>
			     value='private'>
                      Only members of your project
    	            </label>
                  </div>
                </div>
              </div>
            </div>

	    <% if (isadmin) { %>
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class='checkbox format-me' data-key='profile_topdog'
		     data-compact='yep'>
                  <label>
		    <input name=formfields[profile_topdog]
			   <%- formfields.profile_topdog %>
			   data-key='profile_topdog'
			   id='profile_topdog' value='checked'
			   type='checkbox'>Put this profile at the top of
		    the list.
		  </label>
		</div>
	      </div>
	    </div>
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class='checkbox format-me' data-key='profile_disabled'
		     data-compact='yep'>
                  <label>
		    <input name=formfields[profile_disabled]
			   <%- formfields.profile_disabled %>
			   data-key='profile_disabled'
			   id='profile_disabled' value='checked'
			   type='checkbox'>Disable profile.
		  </label>
                  <label>
		    <input name=formfields[profile_disable_all]
			   data-key='profile_disable_all'
			   value='checked'
			   type='checkbox'>Apply to all versions.
		  </label>
		</div>
	      </div>
	    </div>
	    <% } %>

	    <!-- The private URL -->
	    <% if (0) { %>
	    <input name="formfields[profile_version_url]"
		   value="<%- formfields.profile_version_url %>"
		   id='profile_url' readonly
                   class='form-control format-me'
		   data-key='profile_url'
		   data-label='Shared URL'
		   data-help='Anyone with this URL can instantiate
		                 this <b>version</b> of your profile'
                   type='text'>
	    <% } %>
	  </fieldset>
	  
	  <!-- Buttons -->
	  <div style="margin-top: 10px;"></div>
	  <div class='form-group'>
            <div class='col-sm-offset-2 col-sm-10'>
	      <% if (!viewing || canmodify) { %>
              <button class='btn btn-primary btn-xs pull-right' disabled
                      id='profile_submit_button'
                      style='margin-right: 10px;'
                      type='submit' name='create'>
		<%- button_label %>	
	      </button>
	      <% } %>
	      <% if (viewing) { %>
		<% if (!disabled) { %>
		  <a class='btn btn-primary btn-xs pull-right' disabled
                     id='profile_instantiate_button'
                     style='margin-right: 10px;'
                     type='submit' name='create'>Instantiate
		  </a>
		  <% if (isapt) { %>
		    <span class='pull-right'
			  data-toggle='popover'
			  data-delay='{"hide":1500, "show":250}'
			  data-html='true'
			  data-content="When you instantiate as a guest, you get
			       to see exactly how another user will
			       experience your profile. This allows you to
			       better debug your profile for other users">
		      <button class='btn btn-success btn-xs' disabled
			      id='guest_instantiate_button'
			      style='margin-right: 10px;'
     			      data-toggle='modal'
			      data-target='#guest_instantiate_modal'
			      type='button'>Instantiate as Guest
		      </button>
		    </span>
		  <% } %>
		  <a class='btn btn-primary btn-xs pull-left'
                     id='profile_copy_button'
                     style='margin-right: 10px;'
                     type='button'
		     href='manage_profile.php?action=copy&uuid=<%= version_uuid %>'
		     data-toggle='popover'
		     data-delay='{"hide":1500, "show":250}'
		     data-html='true'
		     data-content="When you <em>copy</em> (instead of
                    clone), you are creating a new profile that
		    uses the same source code and metadata (description,
		    instructions) as the original profile, but without
		    creating a new disk image. Instead, the new profile uses
		    whatever images the original profile uses."> 
                    Copy
		  </a>
		  <span class='pull-left'
			data-toggle='popover'
			data-delay='{"hide":1500, "show":250}'
			data-html='true'
			data-content="Share your profile with other users by
				      sending them a link to instantiate it.
				      Click for more info.">
		    <button class='btn btn-primary btn-xs'
			    id='profile_share_button'
			    style='margin-right: 10px;'
			    type='button'>
                      Share
		    </button>
		  </span>
		<% } %>
 		<% if (candelete) { %>
		  <button class='btn btn-danger btn-xs pull-left' disabled
			  id='profile_delete_button'
			  style='margin-right: 10px;'
     			  data-toggle='modal' data-target='#delete_modal'
			  type='button' name='delete'>Delete
		  </button>
		<% } %>
 		<% if (withpublishing && canpublish) { %>
		  <span class='pull-right'
			data-toggle='popover'
			data-delay='{"hide":1500, "show":250}'
			data-html='true'
			data-content="Publishing is like creating
			      a <em>checkpoint</em>. Click for more info.">
		    <button class='btn btn-success btn-xs' disabled
			    id='profile_publish_button'
			    style='margin-right: 10px;'
     			    data-toggle='modal' data-target='#publish_modal'
			    type='button'>
		      Publish`
		    </button>
		  </span>
		<% } %>
	      <% } %>
	    </div>
	  </div>
	  <div id='rspectext_div'></div>
	</form>
      </div>
    </div>
  </div>
  <!-- Confirm Deletion -->
  <div id='delete_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
	  <center><h4>Confirm to Delete</h4></center>
	</div>
	<div class='modal-body'>
	 <p>
	   <em>Warning; deleting a profile cannot be undone!</em> In
	   addition, if you have published links to this profile
	   (version), or sent links to collaborators, those links
	   <b>will no longer be valid</b>. If you want to delete
	   <em><b>all versions</b></em> of
	   this profile, please check the box.
	 </p>
	 <center>
	   <input id='delete-all-versions' value='checked'
		type='checkbox'> Delete all versions of this profile.
	 </center>
	 <br>
	 <center>
           <button class='btn btn-danger btn-sm'
		   id='delete-confirm'
		   style='margin-right: 10px;'
		   type='button' name='delete'>Confirm
	   </button>
           <button class='btn btn-default btn-sm'
		    data-dismiss='modal'
                    type='button'>Cancel
	   </button>
	 </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Confirm Tour Reuse -->
  <div id='reuse_tour_modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <p>
	    Your new rspec did not include a Tour section. Is it okay to reuse
	    the tour section from the original rspec, or continue with no
	    Tour section?
	  </p>
	  <br>
          <center>
            <button class='btn btn-warning btn-sm'
		    id='remove_tour_button'
                    style='margin-right: 10px;'
		    type='button'>Continue with no Tour</button>
            <button class='btn btn-primary btn-sm'
		    id='reuse_tour_button'
		    type='button'>Reuse Tour</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Git Repo -->
  <div id='git-repo-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header text-center'>
	  <big>Create a Repository-based Profile</big>
	</div>
	<div class='modal-body'>
	  <p>
	    Provide a git url to a public repository, and we will create your
	    profile from that repository. 
	  </p>
	  <div class="row">
	    <div class='col-sm-8 col-sm-offset-2'>
	      <div class="form-group">
		<input id="git-repo-url" type="text" class="form-control"
		       <% if (fromrepo) { %>
		       value='<%- formfields.profile_repourl %>'
		       <% } %> >
		<label class="control-label hidden"
		       for="git-repo-url"></label>
	      </div>
	    </div>
	  </div>
          <center>
            <button class='btn btn-success btn-sm'
		    id='git-repo-confirm'
		    style='margin-right: 10px;'
		    type='button' name='delete'>Confirm
	    </button>
            <button class='btn btn-default btn-sm'
		    data-dismiss='modal'
                    type='button'>Cancel
	    </button>
	  </center>
	  <div>
	    <hr>
	    <p>
	      Detailed info coming soon, but here are some of the most
	      important points to know about <em>repository-based
	      profiles</em>:
	      <ul>
		<li>Your repository must be public, and the URL
		  should resemble
		  <a target="_blank"
		      href="https://github.com/lbstoller/my-profile.git">
		    https://github.com/lbstoller/my-profile.git</a>.
		</li>
		<li>Your repository must contain a file called
		  "profile.py" (a geni-lib script) <b>or</b> "profile.rspec"
		  (an rspec). Your topology will be loaded from that
		  file. Please place the source file in the toplevel directory
		  (see the aforementioned example repository).
		</li>
		<li>
		  When you instantiate your profile, we will clone
		  your repository to each of your experimental nodes in
		  the <code>/local/repository</code> directory, and set it
		  to match whatever branch or tag you have choosen to
		  instantiate. You will not be able to push to your
		  repository of course, until you install the necessary
		  credentials on your nodes.
		</li>
		<li>
		  <code>Execute</code> services run <em>after</em> the
		  nodes have cloned your repository, so you may refer to
		  the clone (<code>/local/repository</code>) from your
		  services.
		</li>
		<li>
		  You will be able to instantiate from any branch (HEAD) or
		  tag in the repository.
		</li>
		<li>
		  If you change your repository, simply come back here,
		  select your profile, and use the <code>Update</code> button;
		  we will fetch from your repository and update the profile to
		  reflect the changes. 
		</li>
		<li>
		  Place anything you like in your repository, with the caveat
		  that a giant repository (including, say, the linux source
		  code), will take a long time to clone to each of your nodes.
		</li>
	      </ul>
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <!-- Docstring help -->
  <div id='docstring-help-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <p>
	    When using a geni-lib python script, you set the profile
	    description and instructions <b>within</b> the script source using
	    a <a href="https://en.wikipedia.org/wiki/Docstring">
	    python module docstring</a>, typically at the very beginning of
	    the script. For example:
	  </p>
	  <pre>
"""This is a description of your profile, it can be multi-line.
Every profile must include a description. 

Instructions:
These are instructions for using your profile after it is instantiated.
Instructions are optional.
"""	  </pre>
	  <br>
          <center>
            <button type='button'
                    class='btn btn-default btn-sm' 
                    data-dismiss='modal'>
	      Close</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Warn parameterized profile -->
  <div id='warn_pp_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <center>
	    <h4>Please Note!</h4>
	  </center>
	  <p>
	    Since you are cloning a profile whose source is a <em>geni-lib
	    python</em> script, you will need to update the images inside
	    the script yourself, we cannot do this for you.  At the end of
	    the image snapshot, we will tell you the new image name so you
	    can edit your script.
	  </p>
	  <br>
          <center>
            <button type='button'
                    class='btn btn-default btn-sm' 
                    data-dismiss='modal'>
	      Close</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- place to hang the modals for now -->
  <div id='showtopomodal_div'></div>
  <div id='editmodal_div'></div>
  <div id='waitwait_div'></div>
  <div id='imaging_div'></div>
  <div id='renderer_div'></div>
  <div id='oops_div'></div>
  <div id='guest_div'></div>
  <div id='publish_div'></div>
  <div id='instantiate_div'></div>
  <div id='ppmodal_div'></div>
  <div id='share_div'></div>
</div>
<% if (viewing && versions.length > 1) { %>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'>Version History</h4>
      </div>
      <div class='panel-body'>
	<table class='table table-striped table-condensed'>
	  <thead>
	    <tr>
	      <th>Vers</th>
	      <th style="width: 85%">Description</th>
	      <th style='white-space: nowrap;'>
		Created&nbsp;&nbsp;&nbsp;&nbsp;</th>
	      <% if (withpublishing) { %>
	      <th>Published</th>
	      <% } %>
	      <th>From</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(versions, function(profile) { %>
	    <%  if (profile.uuid != version_uuid) { %>
	    <tr><% } else { %><tr class='success'><% } %>
	      <td>
		<a href='manage_profile.php?action=edit&uuid=<%- profile.uuid %>'>
		  <%- profile.version %></a>
	      </td>
	      <td><%- profile.description %></td>
	      <td style='white-space: nowrap;'><%- profile.created %></td>
	      <% if (withpublishing) { %>
	      <td><%- profile.published %></td>
	      <% } %>
              <td style='text-align:center'>
		<% if (profile.parent_uuid) { %>
		  <% if (profile.version == 0) { %>
		    <a href='show-profile.php?uuid=<%- profile.parent_uuid %>'>
		      <%- profile.parent_version %></a>
		  <% } else { %>
	            <a href='manage_profile.php?action=edit&uuid=<%- profile.parent_uuid %>'>
		      <%- profile.parent_version %></a>
		  <% } %>
                <% } else { %>
		  &nbsp;
 	        <% } %>
	      </td>
	    </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class='row hidden' id="gitpicker-div">
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'>Repository</h4>
      </div>
      <div id="gitrepo-picker" class='panel-body'>
      </div>
    </div>
  </div>
</div>

