<div class='row'>
  <div class='col-lg-7
              col-md-7'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
	  <% if (editing) { %>Modify <% } %>Reservation Request</h3>
      </div>
      <div class='panel-body'>
	<div>
	  <center><span id="general_error" style="color:red;"></span></center>
	</div>
	<form id='reserve-request-form'
              class='form-horizontal' role='form'>
	  <% var d = new Date(); var offset = d.getTimezoneOffset(); %>
	  <input id="timezone" name="timezone" type="hidden"
		 value=<%- offset %>>
	  <input id="start" name="start" type="hidden">
	  <input id="end" name="end" type="hidden">
	  <% if (editing) { %>
	    <input id="idx" name="idx" type="hidden"
		   value=<%- formfields.idx %>>
	    <input id="cluster" name="cluster" type="hidden"
		   value=<%- formfields.cluster %>>
	  <% } %>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <% if (1 || projects) { %>
	        <% if (projects.length == 1 || editing) { %>
		  <div class="form-group">
		    <input name="pid" readonly
			 id="pid"
			 value="<%- formfields.pid %>"
			 class="form-control format-me"
			 data-label="Project"
			 data-key="pid">
		  </div>
		<% } else { %>
		  <div class="form-group">
		    <select name="pid"
			    id="pid"
			    class='form-control format-me'
			    data-colsize="4"
			    data-key="pid"
			    data-label="Project"
			    placeholder='Please Select'>
		      <% _.each(projects, function(name) { %>
			<option 
			    <% if (_.has(formfields, 'pid') &&
			      formfields.pid == name) { %>
			    selected
			    <% } %>
			    value='<%= name %>'><%= name %>
			</option>
		      <% }); %>
		    </select>
		  </div>
	        <% } %>
	      <% } %>
	      <div class="form-group">
		<input name="count"
		       value="<%- formfields.count %>"
		       class="form-control format-me"
		       data-key="count"
		       data-label="Number of Nodes"
		       data-colsize="2"
		       type="text">
	      </div>
	      <div class="form-group">
		<div class="format-me"
		     data-label="Reservation Start"
		     data-colsize="9"
		     data-key="start">
		  <div class="row">
		    <div class="col-xs-4">
		      <input name="start_day"
			     style='position: relative; z-index:1000;'
			     id='start_day'
			     value="<%- formfields.start %>"
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		    </div>
		    <div class="col-xs-4">
		      <select name="start_hour"
			      id='start_hour'
 			      value=""
			      class="form-control"
 			      type="text">
			<option value="">Start Time</option>
			<option value="0">12:00 AM</option>
			<option value="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		    </div>
		    <div class="col-xs-1" style="padding:0px;">
		      <a href='#' class='btn btn-xs'
			 data-toggle='popover'
			 data-html='true'
			 data-delay='{"hide":1000}'
			 data-content='Times are in your local timezone'>
			<span class='glyphicon glyphicon-question-sign'></span>
		      </a>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="form-group">
		<div class="format-me"
		     data-label="Reservation End"
		     data-key="end">
		  <div class="row">
		    <div class="col-xs-6">
		      <input name="end_day"
			     style='position: relative; z-index:1000;'
			     id='end_day'
			     value="<%- formfields.end %>"
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		    </div>
		    <div class="col-xs-6">
		      <select name="end_hour"
			      id='end_hour'
 			      value=""
			      class="form-control"
 			      type="text">
			<option value="">End Time</option>
			<option value="0">12:00 AM</option>
			<option value="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="form-group">
		<% if (editing) { %>
		  <input name="cluster_id" readonly
			 id="cluster_id"
			 value="<%- formfields.cluster_id %>"
			 class="form-control format-me"
			 data-label="Cluster"
			 data-key="cluster_id">
		<% } else { %>
		  <select name="cluster"
			  id="cluster"
			  class='form-control format-me'
			  data-colsize="4"
			  data-key="cluster"
			  data-label="Cluster"
			  placeholder='Please Select'>
		    <option value=''>Please Select</option>
		    <% _.each(amlist, function(details, urn) { %>
		      <option
			  <% if (urn == formfields.cluster) { %>
			  selected
			  <% } %>
			  value='<%= urn %>'><%= details.name %>
		      </option>
		    <% }); %>
		  </select>
		<% } %>
	      </div>
	      <div class="form-group">
		<% if (editing) { %>
		  <input name="type" readonly
			 value="<%- formfields.type %>"
			 id="type"
			 class='form-control format-me'
			 data-key="type"
			 data-label="Hardware Type"
			 data-colsize="4">
		<% } else { %>
		  <select name="type"
			  id="type"
			  class='form-control format-me'
			  data-key="type"
			  data-label="Hardware Type"
			  placeholder='Please Select'
			  data-colsize="4">
		    <option value=''>Please Select</option>
		  </select>
		<% } %>
	      </div>
	      <div class="form-group">
		<textarea name="reason"
			  id="reason"
			  class='form-control format-me'
			  data-key="reason"
			  data-label="Reason"
			  rows="5"
			  data-colsize="9"
			  placeholder='Please provide a description of why you would like to reserve these resources. The better the description the more likely the reservation will be approved.'><%- formfields.reason %></textarea>
	      </div>
              <button class='btn btn-primary btn-sm pull-right' disabled
                      id='reserve-submit-button'
                      type='submit' name='submit'>Check</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
  <div class='col-lg-5
              col-md-5' id="reservation-lists">
    <div id='spinner'>
      <center id='spinner'><img src='images/spinner.gif' /></center><br>
    </div>
  </div>
</div>
<!-- Confirm reservation -->
<div id='confirm-reservation' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h3>Would you like to Commit this reservation?</h3>
          <button style='margin-right: 20px;'
                  class='btn btn-primary btn-sm'
                  data-dismiss='modal' aria-hidden='true'>Cancel</button>
          <button class='btn btn-success btn-sm'
		  id='commit-reservation'
		  data-dismiss='modal' aria-hidden='true'>Reserve</button>
	</center>
      </div>
    </div>
  </div>
</div>
