<style type="text/css">
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
	}
	.sidebar-nav .navbar ul:not {
		display: block;

	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 5px;
	}
}
/*
@media (min-width: 992px) {
	.sidebar-nav .navbar {
		width: 212px;
	}
}
@media (min-width: 1200px) {
	.sidebar-nav .navbar {
		width: 262px;
	}
}
*/
.sidebar-nav .navbar-header{ float: none; }
</style>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
	<h4 class="text-center">Project <%- target_project %></h4>
      </div>
	<div class='panel-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
		  <a href="#experiments" role="tab"
		     data-toggle="tab">Experiments</a></li>
		<li role="presentation">
		  <a href="#profiles" role="tab"
		     data-toggle="tab">Profiles</a></li>
		<li role="presentation">
		  <a href="#datasets" role="tab"
		     data-toggle="tab">Datasets</a></li>
		<li role="presentation">
		  <a href="#members" role="tab"
		     data-toggle="tab">Members</a></li>
		<li role="presentation">
		  <a href="#groups" role="tab"
		     data-toggle="tab">Groups</a></li>
		<li role="presentation">
		  <a href="#usage" role="tab"
		     data-toggle="tab">Usage</a></li>
		<% if (isadmin) { %>
		  <li role="presentation">
		    <a href="#admin" role="tab" data-toggle="tab">
		      Admin</a></li>
		  <li role="presentation">
		    <a href='<%- emulablink %>'>
		      Emulab Project Page</a></li>
		<% } %>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="experiments">
		  <div id="experiments_content">
		    <div id="experiments_loading">
		      <br>
		      <br>
		      <center>Loading
			<div>
			  <img src='images/spinner.gif' />
			</div>
		      </center>
		    </div>
		    <div class="hidden" id="experiments_noexperiments">
		      <br>
		      No experiments to show you. 
		    </div>
		  </div>
		  <br>
		  <div id="classic_experiments_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profiles">
		  <div id="profiles_content">
	      	    <div class="hidden" id="profiles_noprofiles">
		      <br>
		      No profiles to show you.
		    </div>
		  </div>
		  <div id="classic_profiles_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="datasets">
		  <div id="datasets_content">
	      	    <div class="hidden" id="datasets_nodatasets">
		      <br>
		      No datasets to show you.
		    </div>
		  </div>
		  <div id="classic_datasets_content" class="hidden">
		    <center><h4>Classic Datasets</h4></center>
		    <div id="classic_datasets_content_div"></div>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="members">
		  <div id="members_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="groups">
		  <div id="groups_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="usage">
		  <div id="usage_content">
		      <table class='table table-condensed table-bordered'
			     id='usage_table'>
			<tbody></tbody>
		      </table>
		  </div>
		</div>
		<% if (isadmin) { %>
		  <div role="tabpanel" class="tab-pane" id="admin">
		    <div id="admin_content"></div>
		  </div>
		<% } %>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='conversion_help_div'></div>
